<div style="border:solid green 2px; padding: 20px">
Purpose: test for data analyst position in a Thumos company

### 1.Install libraries, data downloading

In [1]:
# install libraries
import pandas as pd
import numpy as np
import glob

In [2]:
# was taken a dataset from kaggle
data = pd.read_csv('healthcare-dataset-stroke-data.csv')
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
# checking information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

### 2.Making a list of files (110)

In [4]:
#distribute the records into 110 files (according to the technical specifications)
files = [] # make empty list

# create a loop for making 110 files in csv format
for i in range(1, 111): #determine the number of records from 1 to 111 (110 in total)
    file_num = str(i) # declare a variable as a "string"
    if len(file_num) == 1: # if the file name is 1 character long
        file_num = '00' + file_num # add 00 to file name
    elif len(file_num) == 2: # if the file name is 2 character long (example 12)
        file_num = '0' + file_num # add 0 to file name
    files.append(f'data_000000000{file_num}.csv') # using append method for adding main part of the file name - data_000000000

In [5]:
# split dataset for a small parts
a = np.array_split(data, len(files))

In [6]:
# create a loop for saving files in a directory
for file, d in zip(files, a):
    d.to_csv('data\\' + file)

In [7]:
# determinea variable 'files_list'
files_list = glob.glob('data\*.csv')

# checking
files_list

['data\\data_000000000001.csv',
 'data\\data_000000000002.csv',
 'data\\data_000000000003.csv',
 'data\\data_000000000004.csv',
 'data\\data_000000000005.csv',
 'data\\data_000000000006.csv',
 'data\\data_000000000007.csv',
 'data\\data_000000000008.csv',
 'data\\data_000000000009.csv',
 'data\\data_000000000010.csv',
 'data\\data_000000000011.csv',
 'data\\data_000000000012.csv',
 'data\\data_000000000013.csv',
 'data\\data_000000000014.csv',
 'data\\data_000000000015.csv',
 'data\\data_000000000016.csv',
 'data\\data_000000000017.csv',
 'data\\data_000000000018.csv',
 'data\\data_000000000019.csv',
 'data\\data_000000000020.csv',
 'data\\data_000000000021.csv',
 'data\\data_000000000022.csv',
 'data\\data_000000000023.csv',
 'data\\data_000000000024.csv',
 'data\\data_000000000025.csv',
 'data\\data_000000000026.csv',
 'data\\data_000000000027.csv',
 'data\\data_000000000028.csv',
 'data\\data_000000000029.csv',
 'data\\data_000000000030.csv',
 'data\\data_000000000031.csv',
 'data\\data_000000000032.csv',
 'data\\data_000000000033.csv',
 'data\\data_000000000034.csv',
 'data\\data_000000000035.csv',
 'data\\data_000000000036.csv',
 'data\\data_000000000037.csv',
 'data\\data_000000000038.csv',
 'data\\data_000000000039.csv',
 'data\\data_000000000040.csv',
 'data\\data_000000000041.csv',
 'data\\data_000000000042.csv',
 'data\\data_000000000043.csv',
 'data\\data_000000000044.csv',
 'data\\data_000000000045.csv',
 'data\\data_000000000046.csv',
 'data\\data_000000000047.csv',
 'data\\data_000000000048.csv',
 'data\\data_000000000049.csv',
 'data\\data_000000000050.csv',
 'data\\data_000000000051.csv',
 'data\\data_000000000052.csv',
 'data\\data_000000000053.csv',
 'data\\data_000000000054.csv',
 'data\\data_000000000055.csv',
 'data\\data_000000000056.csv',
 'data\\data_000000000057.csv',
 'data\\data_000000000058.csv',
 'data\\data_000000000059.csv',
 'data\\data_000000000060.csv',
 'data\\data_000000000061.csv',
 'data\\data_000000000062.csv',
 'data\\data_000000000063.csv',
 'data\\data_000000000064.csv',
 'data\\data_000000000065.csv',
 'data\\data_000000000066.csv',
 'data\\data_000000000067.csv',
 'data\\data_000000000068.csv',
 'data\\data_000000000069.csv',
 'data\\data_000000000070.csv',
 'data\\data_000000000071.csv',
 'data\\data_000000000072.csv',
 'data\\data_000000000073.csv',
 'data\\data_000000000074.csv',
 'data\\data_000000000075.csv',
 'data\\data_000000000076.csv',
 'data\\data_000000000077.csv',
 'data\\data_000000000078.csv',
 'data\\data_000000000079.csv',
 'data\\data_000000000080.csv',
 'data\\data_000000000081.csv',
 'data\\data_000000000082.csv',
 'data\\data_000000000083.csv',
 'data\\data_000000000084.csv',
 'data\\data_000000000085.csv',
 'data\\data_000000000086.csv',
 'data\\data_000000000087.csv',
 'data\\data_000000000088.csv',
 'data\\data_000000000089.csv',
 'data\\data_000000000090.csv',
 'data\\data_000000000091.csv',
 'data\\data_000000000092.csv',
 'data\\data_000000000093.csv',
 'data\\data_000000000094.csv',
 'data\\data_000000000095.csv',
 'data\\data_000000000096.csv',
 'data\\data_000000000097.csv',
 'data\\data_000000000098.csv',
 'data\\data_000000000099.csv',
 'data\\data_000000000100.csv',
 'data\\data_000000000101.csv',
 'data\\data_000000000102.csv',
 'data\\data_000000000103.csv',
 'data\\data_000000000104.csv',
 'data\\data_000000000105.csv',
 'data\\data_000000000106.csv',
 'data\\data_000000000107.csv',
 'data\\data_000000000108.csv',
 'data\\data_000000000109.csv',
 'data\\data_000000000110.csv']

### 3.Combined 110 files back to 1 dataset

In [8]:
# determinea variable 'combined'
combined = pd.DataFrame() # first make empty dataframe

# make a loop which will check each file, read it and add a colunm 'filename'
for file in files_list:
    data = pd.read_csv(file, index_col=[0])
    data['filename'] = file
    combined = pd.concat([combined, data])

combined.reset_index(drop=True, inplace=True)

In [9]:
# checking the result 
combined[:5]

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,filename
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,data\data_000000000001.csv
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,data\data_000000000001.csv
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,data\data_000000000001.csv
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,data\data_000000000001.csv
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,data\data_000000000001.csv

In [10]:
# write a single file .csv
combined.to_csv('combined.csv',
                sep = ';') # will allow to split data into columns in excel (if will be nessesary)

In [11]:
# checking
combined

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,filename
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,data\data_000000000001.csv
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,data\data_000000000001.csv
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,data\data_000000000001.csv
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,data\data_000000000001.csv
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,data\data_000000000001.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0,data\data_000000000110.csv
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,data\data_000000000110.csv
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,data\data_000000000110.csv
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0,data\data_000000000110.csv
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,data\data_000000000110.csv

<div style="border:solid green 2px; padding: 20px">
Was taken dataset with 5 110 rows, split to 110 files and after that 110 files were collected back into a single dataset (5 110 rows)